<h1>Discount Information for <%= @discount.name %></h1>

<div class = "discount_info">
<p>Name: <%= @discount.name %></p>
<p>Percentage Discount: <%= @discount.percentage_discount %>%</p>
<p>Threshold: <%= @discount.threshold %></p>
</div>